html {
    font-size: 16px;
}

.currency-selector{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  font-family: Helvetica;
  font-size: 10px;
  justify-content: space-between;
  overflow-x: scroll;
}

.currency {
  cursor: pointer;
}

.currency-selector .img{
  width: 50px;
}
.currency-selector img{
  width: 30px;
}
